<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://th.bing.com/th/id/OIP.L-EVHfVTfmyDfRILwz_cSQHaEK?cb=iwc2&rs=1&pid=ImgDetMain);">
  <div class="container">
    <h1>Lists <strong></h1>
    </div>
  </div>
  <div class="container mt-3 d-flex-justify">
    <ul >
      <%@lists.each do |list|  %>
        <li><%=link_to "#{list.name}", list_path(list), class:"btn btn-primary mt-3"  %></li>
      <% end %>
    </ul>
    <%= link_to "Add list", new_list_path, class: "btn btn-secondary"  %>
  </div>
